
@{
    ViewData["Title"] = "ViewDataDemo";
    var student = ViewData["student"] as LTWebDay03.Models.Student;
    var students = ViewData["students"] as List<LTWebDay03.Models.Student>;
}

<h1>ViewData Demo</h1>
<hr/>
<h2> Welcome to, @ViewData["name"] </h2>
<p> Time : @ViewData["time"] </p>
<hr/>
<h2> Thông tin sinh viên </h2>
<hr/>
<div class="alert alert-info">
    <h2> Thông tin sinh viên </h2>
    <p> Mã : @student.Id</p>
    <p> Tên : @student.Name </p>
    <p> Tuổi : @student.Age</p>
    <p> Giới tính: @student.Gender </p>
    <h2> Thông tin sinh viên </h2>
    <p>
        @foreach (var s in students)
        {
            <tr>
                <td>@s.Id</td>
                <td>@s.Name</td>
                <td>@s.Age</td>
                <td>@s.Gender</td>
            </tr>
        }
    </p>
</div>