@model TvcDay09.Models.Tvc_Loai_San_Pham

@{
    ViewData["Title"] = "tvcDelete";
}

<h1>tvcDelete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tvc_Loai_San_Pham</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tvcMaLoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tvcMaLoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tvcTenLoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tvcTenLoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tvcTrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tvcTrangThai)
        </dd>
    </dl>
    
    <form asp-action="tvcDelete">
        <input type="hidden" asp-for="tvcId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
