@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>AdminLTE - @ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- AdminLTE -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-dlK6L36OaZzZeqCnnNcoAwZpA0WfBhwgxzayW6+RjFRR2h6Y+U8r2V1DEcz/Wo9xQJ9M1SkWc3N9O9RydP4jHw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>


</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Navbar -->
        @Html.Partial("_AdminNavbar")

        <!-- Sidebar -->
        @Html.Partial("_AdminSidebar")

        <!-- Content -->
        <div class="content-wrapper">
            <section class="content">
                <div class="container-fluid pt-3">
                    @RenderBody()
                </div>
            </section>
        </div>

        <!-- Footer -->
        @Html.Partial("_AdminFooter")

    </div>

</body>
</html>
